USE [master]
GO
/****** Object:  Database [Data]    Script Date: 17.06.2024 18:09:05 ******/
CREATE DATABASE [Data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSS\MSSQL\DATA\Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Data_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSS\MSSQL\DATA\Data_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Data]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17.06.2024 18:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nchar](10) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (1, N'log', N'123', N'Admin     ')
INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (2, N'log1', N'321', N'us        ')
INSERT [dbo].[User] ([id], [Login], [Password], [Role]) VALUES (3, N'log2', N'432', N'us        ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
